* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.jumbotron {
    background: url(./image/nav.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: auto;
    position: relative;
}

.jumbotron h1 {
    font-weight: 700;
    margin-top: 80px;
    font-size: 58px;
    letter-spacing: 7.5%;
    -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.jumbotron .lead {
    color : rgba(255, 255, 255, 0.8);
}

.card {
    width: 60vw;
    margin-top: -100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

.card .btn-check {
    background-color: #F45D5D;
    color: white;
    font-weight: bold;
}
  
.form-group .form-control {
    padding-left: 2.375rem;
}

.form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}