* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Main Image */

.jumbotron {
    background: url(./image/nav.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: auto;
    position: relative;
}

.jumbotron h1 {
    font-weight: bolder;
    margin-top: 80px;
    font-size: 58px;
    letter-spacing: 7.5px;
    -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.jumbotron .lead {
    color : rgba(255, 255, 255, 0.8);
}

@media screen and (max-width:468px) {
    .jumbotron {
        height: 90vh;
        background: url(./image/nav.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
     
    }
    .jumbotron h1 {
        font-size: 48px;
        letter-spacing: 5%;
    }
}


/* Card in Navbar */

.forms {
    width: 60vw;
    margin-top: -100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

    
.forms .btn-check {
    background-color: #F45D5D;
    color: white;
    font-weight: bold;
}
  
.form-group .form-control {
    padding-left: 2.375rem;
}

.form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


@media screen and (max-width:468px) {
    .forms {
        text-align: center;
        margin-top: -150px;
        width: 80%;
    }
    .forms form  {
        width: 100%;
    }
    .forms .btn-check {
        width: 100%;
    }
}

/* Main Section */
.main {
    margin-top: 79px;
}


.main .main-heading {
    font-weight: bolder;
    margin-top: 100px;
    letter-spacing: 3px;
    font-size: 48px;
}

.main .content-main {
    margin-top: 129px;
} 